<%= require('./html-includes/header.html')() %>

<header class="top-header">
  <div class="text-sm opacity-60">344029, г.Ростов-на-Дону, ул. Менжинского, 2Л, офис №106</div>

  <div class="ml-auto"></div>

  <a href="javascript:;" class="btn btn-text gap-3 text-default">
    <div class="relative">
      <div class="absolute size-2 rounded-full bg-primary right-1 top-0"></div>
      <c-icon class="icon text-2xl" href="img/icons.svg#notification-contur"></c-icon>
    </div>
    Уведомления
  </a>
  <!-- <a href="javascript:;" class="btn btn-text gap-3 text-default">
    <c-icon class="icon text-2.5xl" href="img/icons.svg#user-contur"></c-icon>
    Личный кабинет
  </a> -->
  <c-menu>
    <c-menu-button class="btn btn-text gap-3 text-default cursor-pointer">
      <c-icon class="icon text-2.5xl" href="img/icons.svg#user-contur"></c-icon>
      Личный кабинет
      <c-icon class="icon" href="img/icons.svg#triangle-down"></c-icon>
    </c-menu-button>
    <c-menu-items class="p-2 max-md:py-6" placement="bottom">
      <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Менеджер</a>
      <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Пользователь</a>
      <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Судья</a>

    </c-menu-items>
  </c-menu>
  <a href="javascript:;" class="btn btn-default btn-contur btn-sm border-default/20">Регистрация</a>
</header>

<section class="bg-primary py-1 text-white lg:hidden">
  <img src="img/rostselmash.png" alt="" class="w-52">
  <div class="text-xxs opacity-60">титульный партнер</div>
</section>

<header class="header">
  <button class="btn btn-icon btn-sm lg:hidden" data-toggle-link="menu">
    <c-icon class="icon text-3.5xl" href="img/icons.svg#menu"></c-icon>
  </button>
  <img src="img/logo.png" alt="" class="header-logo">
  <div class="header-partner">
    <img src="img/rostselmash.png" alt="" class="header-partner-image">
    <div class="text-xs opacity-60">титульный партнер</div>
  </div>
</header>

<div class="menu " id="menu">
  <div class="flex items-center gap-3">
    <button class="btn btn-icon btn-sm btn-primary" data-toggle-link="menu">
      <c-icon class="icon text-3.5xl" href="img/icons.svg#cross"></c-icon>
    </button>
    <img src="img/logo-primary.png" alt="" class="w-72 h-11 object-scale-down">
  </div>
  <div class="mt-5">
    <a href="javascript:;" class="btn btn-text gap-4 text-default justify-start">
      <c-icon class="icon text-2.5xl" href="img/icons.svg#user-contur"></c-icon>
      Личный кабинет
    </a>
    <a href="javascript:;" class="btn btn-default btn-contur btn-sm border-default/20 mt-6 w-full">
      <span class="font-semibold">Регистрация</span>
    </a>
  </div>
  <div class="mt-5 -mx-4">

    <!-- Соревнования -->
    <c-menu>
      <c-menu-button class="btn btn-primary w-full gap-3 text-default justify-start">
        Соревнования
        <c-icon class="icon" href="img/icons.svg#triangle-down"></c-icon>
      </c-menu-button>
      <c-menu-items class="p-2 max-md:py-6" placement="bottom">
        <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">2022</a>
        <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">2023</a>
        <c-menu>
          <c-menu-button class="btn btn-primary btn-xs justify-start text-default text-sm cursor-pointer">
            2024
            <c-icon class="icon ml-auto" href="img/icons.svg#triangle-down"></c-icon>
          </c-menu-button>
          <c-menu-items class="p-2 max-md:py-6" placement="right">
            <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </a>
            <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </a>
            <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </a>
            <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </a>
            <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </a>
            <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </a>

          </c-menu-items>
        </c-menu>
      </c-menu-items>
    </c-menu>

    <!-- Ассоциация -->
    <c-menu>
      <c-menu-button class="btn btn-primary w-full gap-3 text-default justify-start">
        Ассоциация
        <c-icon class="icon" href="img/icons.svg#triangle-down"></c-icon>
      </c-menu-button>
      <c-menu-items class="p-2 max-md:py-6 " placement="bottom-end">
        <% for(let i = 0; i < 64; i++) { %>
        <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Менеджмент</a>
        <% } %>
      </c-menu-items>
    </c-menu>

    <!-- Виды регби -->
    <c-menu>
      <c-menu-button class="btn btn-primary w-full gap-3 text-default justify-start">
        Виды регби
        <c-icon class="icon" href="img/icons.svg#triangle-down"></c-icon>
      </c-menu-button>
      <c-menu-items class="p-2 max-md:py-6" placement="bottom-end">
        <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Менеджмент</a>
        <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Документы</a>
        <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Судейство</a>
        <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Контакты</a>
      </c-menu-items>
    </c-menu>

    <!-- Чемпионы -->
    <c-menu>
      <c-menu-button class="btn btn-primary w-full gap-3 text-default justify-start">
        Чемпионы
        <c-icon class="icon" href="img/icons.svg#triangle-down"></c-icon>
      </c-menu-button>
      <c-menu-items class="p-2 max-md:py-6" placement="bottom-end">
        <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Менеджмент</a>
        <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Документы</a>
        <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Судейство</a>
        <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Контакты</a>
      </c-menu-items>
    </c-menu>

    <a href="javascript:;" class="btn btn-primary w-full gap-3 text-default justify-start">
      Новости
    </a>

    <!-- Медиа -->
    <c-menu>
      <c-menu-button class="btn btn-primary w-full gap-3 text-default justify-start">
        Медиа
        <c-icon class="icon" href="img/icons.svg#triangle-down"></c-icon>
      </c-menu-button>
      <c-menu-items class="p-2 max-md:py-6" placement="bottom-end">
        <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Менеджмент</a>
        <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Документы</a>
        <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Судейство</a>
        <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Контакты</a>

      </c-menu-items>
    </c-menu>

    <a href="javascript:;" class="btn btn-primary w-full gap-3 text-default justify-start">
      <c-icon class="icon text-2.5xl" href="img/icons.svg#bag"></c-icon>
      Фан-шоп
    </a>

    <a href="javascript:;" class="btn btn-primary w-full gap-3 text-default justify-start">
      <c-icon class="icon text-2.5xl" href="img/icons.svg#bag"></c-icon>
      Корзина
    </a>
  </div>
  <div class="mt-6">
    <div class="text-sm opacity-60">344029, г.Ростов-на-Дону, ул. Менжинского, 2Л, офис №106</div>
  </div>
  <div class="flex gap-1 items-center mt-6">
    <a href="javascript:;" class="btn btn-blue btn-icon">
      <img src="img/soc-color/vk.svg" alt="">
    </a>
    <a href="javascript:;" class="btn btn-blue btn-icon">
      <img src="img/soc-color/telegram.svg" alt="">
    </a>
    <a href="javascript:;" class="btn btn-red btn-icon">
      <img src="img/soc-color/youtube.svg" alt="">
    </a>
  </div>
</div>
<div class="menu-shadow"></div>

<header class="nav">
  <!-- Ассоциация -->
  <c-menu>
    <c-menu-button class="btn btn-white gap-3 btn-sm cursor-pointer">
      Ассоциация
      <c-icon class="icon" href="img/icons.svg#triangle-down"></c-icon>
    </c-menu-button>
    <c-menu-items class="p-2 max-md:py-6" placement="bottom">
      <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Менеджмент</a>
      <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Документы</a>
      <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Судейство</a>
      <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Контакты</a>
    </c-menu-items>
  </c-menu>

  <!-- Соревнования -->
  <c-menu>
    <c-menu-button class="btn btn-white gap-3 btn-sm cursor-pointer">
      Соревнования
      <c-icon class="icon" href="img/icons.svg#triangle-down"></c-icon>
    </c-menu-button>
    <c-menu-items class="p-2 max-md:py-6" placement="bottom">
      <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">2022</a>
      <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">2023</a>
      <c-menu>
        <c-menu-button class="btn btn-primary btn-xs justify-start text-default text-sm cursor-pointer">
          2024
          <c-icon class="icon ml-auto" href="img/icons.svg#triangle-down"></c-icon>
        </c-menu-button>
        <c-menu-items class="p-2 max-md:py-6" placement="right">
          <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">2022</a>
          <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">2023</a>
          <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">2024</a>

        </c-menu-items>
      </c-menu>
    </c-menu-items>
  </c-menu>

  <!-- Виды регби -->
  <c-menu>
    <c-menu-button class="btn btn-white gap-3 btn-sm cursor-pointer">
      Виды регби
      <c-icon class="icon" href="img/icons.svg#triangle-down"></c-icon>
    </c-menu-button>
    <c-menu-items class="p-2 max-md:py-6" placement="bottom">
      <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Менеджмент</a>
      <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Документы</a>
      <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Судейство</a>
      <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Контакты</a>
    </c-menu-items>
  </c-menu>

  <!-- Чемпионы -->
  <c-menu>
    <c-menu-button class="btn btn-white gap-3 btn-sm cursor-pointer">
      Чемпионы
      <c-icon class="icon" href="img/icons.svg#triangle-down"></c-icon>
    </c-menu-button>
    <c-menu-items class="p-2 max-md:py-6" placement="bottom">
      <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Менеджмент</a>
      <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Документы</a>
      <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Судейство</a>
      <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Контакты</a>
    </c-menu-items>
  </c-menu>

  <a href="javascript:;" class="btn btn-white gap-3 btn-sm cursor-pointer">
    Новости
  </a>

  <!-- Медиа -->
  <c-menu>
    <c-menu-button class="btn btn-white gap-3 btn-sm cursor-pointer">
      Медиа
      <c-icon class="icon" href="img/icons.svg#triangle-down"></c-icon>
    </c-menu-button>
    <c-menu-items class="p-1" placement="bottom">
      <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Менеджмент</a>
      <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Документы</a>
      <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Судейство</a>
      <a href="javascript:;" class="btn btn-primary btn-xs justify-start text-default text-sm">Контакты</a>

    </c-menu-items>
  </c-menu>

  <a href="javascript:;" class="btn btn-white gap-3 btn-sm pl-2 cursor-pointer">
    <c-icon class="icon text-2.5xl" href="img/icons.svg#bag"></c-icon>
    Фан-шоп
  </a>

  <a href="javascript:;" class="btn btn-white gap-3 btn-sm pl-2 cursor-pointer">
    <c-icon class="icon text-2xl" href="img/icons.svg#cart-contur"></c-icon>
    Корзина
  </a>

  <div class="flex gap-1 items-center">
    <a href="javascript:;" class="btn btn-blue btn-icon">
      <img src="img/soc-color/vk.svg" alt="">
    </a>
    <a href="javascript:;" class="btn btn-blue btn-icon">
      <img src="img/soc-color/telegram.svg" alt="">
    </a>
    <a href="javascript:;" class="btn btn-red btn-icon">
      <img src="img/soc-color/youtube.svg" alt="">
    </a>
  </div>
</header>

<section class="started">
  <div class="started-image">
    <img src="img/started.jpg" alt="" class="absolute-fit object-cover">
    <div class="started-shadow absolute-fit"></div>
  </div>
  <div class="started-inner">
    <div class="started-content">
      <div class="started-title">
        Развиваем <br>
        тэг-регби в России
      </div>
      <div class="started-subtitle">
        Бесконтактный регби – в школы
      </div>
      <a href="javascript:;" class="btn btn-primary btn-fill px-8 mt-12">
        <span class="font-semibold">Подробнее</span>
      </a>
    </div>
    <div class="started-counter">
      <div class="started-counter-item">
        <div class="started-counter-value">4</div>
        <div class="started-counter-name">сезона</div>
      </div>
      <div class="started-counter-item">
        <div class="started-counter-value">400</div>
        <div class="started-counter-name">
          образовательных
          организаций
        </div>
      </div>
      <div class="started-counter-item">
        <div class="started-counter-value">1 500</div>
        <div class="started-counter-name">команд</div>
      </div>
      <div class="started-counter-item">
        <div class="started-counter-value">28 000</div>
        <div class="started-counter-name">участников</div>
      </div>
    </div>
  </div>
</section>

<section class="live p-section overflow-hidden">
  <div class="flex md:items-center gap-3 mb-11 max-md:flex-col">
    <div class="flex items-center gap-4">
      <div class="title">Матчи</div>
      <div class="flex items-center gap-2">
        <div class="size-2 bg-primary rounded-full">
          <div class="size-full bg-primary rounded-full animate-ping"></div>
        </div>
        <div class="font-medium">Live</div>
      </div>
    </div>

    <c-menu class="md:ml-auto flex items-start md:items-center max-md:flex-col gap-2">
      <div class="font-medium">Соревнование</div>
      <c-menu-button class="btn btn-primary btn-text gap-3 btn-sm cursor-pointer max-w-full">
        <div class="max-w-96 truncate underline underline-offset-4">
          Спартакиада
        </div>
        <c-icon class="icon" href="img/icons.svg#triangle-down"></c-icon>
      </c-menu-button>
      <c-menu-items class="p-2 max-md:py-6 w-96 overflow-auto max-h-96 " placement="bottom-end">
        <% for(let i = 0; i < 12; i++) { %>
        <a href="javascript:;" class="btn btn-primary btn-xs h-auto py-1 justify-start ">
          <span class="text-default text-sm leading-xs">
            Спартакиада по тэг-регби среди учащихся 5-6 классов по тэг-регби среди учащихся 5-6 классов
          </span>
        </a>
        <% } %>
      </c-menu-items>
    </c-menu>
  </div>
  <div class="live-slider relative">
    <div class="swiper -mx-1 sm:-mx-2.5 max-md:overflow-visible">
      <div class="swiper-wrapper">
        <% for(let i = 0; i < 10; i++) { %>
        <div class="swiper-slide w-80 md:w-1/2 lg:w-1/3 px-1 sm:px-2.5">
          <div class="live-item h-full">
            <div class="text-sm">
              г. Ростов-на-Дону ул. Пойменная, <br>
              2а ГБУ ДО РО «СШОР № 5»
            </div>

            <div class="flex items-center gap-2 mt-2">
              <c-icon class="icon text-primary" href="img/icons.svg#calendar"></c-icon>
              <span class="text-sm ">
                Сб <span class="opacity-40">|</span> 06.04 <span class="opacity-40">|</span> 13:30
              </span>
            </div>

            <div class="mt-6 divide-y divide-default/10 border border-default/10 rounded-md overflow-hidden">
              <div class="flex items-center gap-4 p-2 bg-default/5 text-xs">
                <div class="w-1"></div>
                <div class="opacity-60"> Команды </div>
                <div class="ml-auto w-11 text-center opacity-60">Осн</div>
              </div>
              <div class="flex items-center gap-4 p-2">
                <div class="w-1 h-11 rounded-lg shrink-0" style="background: #E29337;"></div>
                <div class="text-sm">
                  ГБУ ДО РО «СШОР № 5»
                  2010г. (3)
                </div>
                <div class="size-11 rounded-md flex shrink-0 live-item-score ml-auto">
                  <div class="font-semibold m-auto">0</div>
                </div>
              </div>
              <div class="flex items-center gap-4 p-2">
                <div class="w-1 h-11 rounded-lg shrink-0" style="background: #44DDFF;"></div>
                <div class="text-sm font-semibold">
                  ГБУ ДО РО «СШОР № 5»
                  2010г. (3)
                </div>
                <div class="size-11 rounded-md flex shrink-0 live-item-win ml-auto">
                  <div class="font-semibold m-auto">0</div>
                </div>
              </div>
            </div>

            <div class="flex items-center gap-3 mt-4">
              <img src="img/trophy.svg" alt="" class="w-4 h-6">
              <div class="text-sm">Основное</div>
            </div>
            <div class="mt-auto"></div>
            <button class="btn btn-primary btn-light gap-1.5 group btn-sm w-full mt-4">
              <div class="size-1.5 bg-primary rounded-full">
                <div class="size-full bg-primary rounded-full group-hover:animate-ping"></div>
              </div>
              <span class="font-semibold">Смотреть прямой эфир</span>
            </button>
          </div>
        </div>
        <% } %>
      </div>
    </div>

    <div class="absolute top-1/2 -translate-y-1/2 right-full mr-4 max-md:hidden">
      <button class="btn btn-icon btn-l3 btn-fill rounded-full shadow-xl live-slider-prev">
        <c-icon class="icon text-lg text-default" href="img/icons.svg#to-left"></c-icon>
      </button>
    </div>
    <div class="absolute top-1/2 -translate-y-1/2 left-full ml-4 max-md:hidden">
      <button class="btn btn-icon btn-l3 btn-fill rounded-full shadow-xl live-slider-next">
        <c-icon class="icon text-lg text-default" href="img/icons.svg#to-right"></c-icon>
      </button>
    </div>
  </div>

  <div class="buner mt-15 overflow-hidden rounded-xl">
    <picture>
      <source media="(min-width: 580px)" srcset="img/buner-lg.jpg">
      <img src="img/buner-sm.jpg" alt="">
    </picture>
  </div>
</section>
<script>
  new Swiper('.live-slider>.swiper', {
    slidesPerView: 'auto',
    centeredSlides: true,
    loop: true,
    navigation: {
      prevEl: '.live-slider-prev',
      nextEl: '.live-slider-next',
    },
    breakpoints: {
      [769.98]: {
        centeredSlides: false,

      }
    }
  })
</script>


<section class="hero">
  <div class="hero-slider">
    <div class="swiper">
      <div class="swiper-wrapper">
        <% for(let i = 0; i < 4; i++) { %>
        <div class="swiper-slide hero-buner">
          <div class="hero-buner-img">
            <img src="img/test.gif" alt="">
          </div>
          <div class="hero-buner-content">
            <div class="font-semibold md:text-2.5xl color-white mb-3 hero-buner-title">
              Победители «Ростсельмаш-лиги» сезона 2020/21 <br class="max-md:hidden">
              отправились в детский лагерь «Нива»
            </div>
            <div class="text-sm flex items-center hero-buner-sign">
              <c-icon class="icon opacity-60 mr-1" href="img/icons.svg#calendar-alt"></c-icon>
              <span>
                07 авг 2021 • <span class="hero-buner-mark "> Муниципальные новости</span>
              </span>
            </div>
          </div>
        </div>
        <% } %>

      </div>
    </div>
    <div class="hero-slider-control gap-1 sm:gap-4">
      <button class="hero-slider-prev btn btn-icon btn-light btn-white rounded-full">
        <c-icon class="icon opacity-60" href="img/icons.svg#arrow-left"></c-icon>
      </button>
      <button class="hero-slider-next btn btn-icon btn-light btn-white rounded-full">
        <c-icon class="icon opacity-60" href="img/icons.svg#arrow-right"></c-icon>
      </button>
    </div>
  </div>
  <!-- <div class="hero-blocks">
    <a href="" class="hero-block">
      <img src="img/test.gif" alt="">
    </a>
    <a href="" class="hero-block">
      <img src="img/test.gif" alt="">
    </a>
  </div> -->
</section>
<script>
  new Swiper('.hero-slider .swiper', {
    slidesPerView: 'auto',
    spaceBetween: 20,
    // effect: 'opacity',
    watchSlidesProgress: true,
    loop: true,
    autoplay: {
      delay: 3000,
      disableOnInteraction: false,

    },
    navigation: {
      nextEl: '.hero-slider .hero-slider-next',
      prevEl: '.hero-slider .hero-slider-prev'
    }
  })
</script>

<!-- Последние новости -->
<section class="index-news p-section overflow-hidden">
  <div class="flex items-center mb-10">
    <div class="title">Последние новости</div>
    <button class="btn btn-primary font-semibold ml-auto max-sm:hidden">Все новости</button>
  </div>
  <div class="index-news-slider relative">
    <div class="swiper -mx-1 sm:-mx-2.5 max-md:overflow-visible">
      <div class="swiper-wrapper">
        <% for(let i = 0; i < 3; i++) { %>
        <div class="w-80 md:w-1/3 lg:w-1/4 swiper-slide px-1 sm:px-2.5">
          <a href="" class="news-card h-full">
            <div class="news-card-img">
              <img src="img/test.gif" alt="">
            </div>
            <div class="news-card-content">
              <div class="news-card-date flex items-center gap-2 mb-3">
                <c-icon class="icon text-sm opacity-60" href="img/icons.svg#calendar"></c-icon>
                <span class="text-xs">
                  <span class="opacity-80">07 авг 2021 • </span><span class="text-yellow font-semibold">Новое</span>
                </span>
              </div>
              <div class="news-card-tags">
                <div class="flex">
                  <div class="news-card-tag">
                    <span>ШРРЛ</span>
                  </div>
                </div>
              </div>
              <div class="news-card-title max-md:text-sm  font-semibold hover-link">
                28 мая состоялся Высший
                совет Федерации регби
                России
              </div>
            </div>
          </a>
        </div>
        <% } %>

        <div class="w-80 md:w-1/3 lg:w-1/4 swiper-slide px-1 sm:px-2.5">
          <a href="" class="news-card h-full news-card--popular">
            <div class="news-card-img">
              <img src="img/test.gif" alt="">
            </div>
            <div class="news-card-content">
              <div class="news-card-date flex items-center gap-2 mb-3">
                <c-icon class="icon text-sm opacity-60" href="img/icons.svg#calendar"></c-icon>
                <span class="text-xs">
                  <span class="opacity-80">07 авг 2021 • </span><span class="text-green font-semibold">Популярное</span>
                </span>
              </div>
              <div class="news-card-title max-md:text-sm font-semibold hover-link">
                28 мая состоялся Высший
                совет Федерации регби
                России
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>

    <div class="absolute top-1/2 -translate-y-1/2 right-full mr-4 lg:hidden max-md:hidden">
      <button class="btn btn-icon btn-l3 btn-fill rounded-full shadow-xl index-news-slider-prev">
        <c-icon class="icon text-lg text-default" href="img/icons.svg#to-left"></c-icon>
      </button>
    </div>
    <div class="absolute top-1/2 -translate-y-1/2 left-full ml-4 lg:hidden max-md:hidden">
      <button class="btn btn-icon btn-l3 btn-fill rounded-full shadow-xl index-news-slider-next">
        <c-icon class="icon text-lg text-default" href="img/icons.svg#to-right"></c-icon>
      </button>
    </div>

  </div>

</section>
<script>
  new Swiper('.index-news-slider>.swiper', {
    slidesPerView: 'auto',
    watchSlidesProgress: true,
    navigation: {
      nextEl: '.index-news-slider-next',
      prevEl: '.index-news-slider-prev'
    }
  })
</script>

<div class="mt-auto"></div>
<footer class="footer">
  <div class="footer-inner">
    <div class="footer-info">
      <img src="img/logo-white.png" alt="">
      <!-- <div class="text-body-1 font-semibold mt-6">
                Ассоциация <br>
                "Ростсельмаш-лига"
            </div>
            <div class="text-sm opacity-60">Детская лига регби</div> -->
      <img src="img/footer-logo-text.png" alt="" class="mt-6">
    </div>
    <div class="footer-nav d-none d-lg-block">
      <div class="font-semibold mb-3">Об ассоциации</div>
      <a href="javascript:;" class="text-sm hover:underline opacity-80 mb-3">Цели и задачи</a>
      <a href="javascript:;" class="text-sm hover:underline opacity-80 mb-3">Документы</a>
      <a href="javascript:;" class="text-sm hover:underline opacity-80 mb-3">Руководство</a>
      <a href="javascript:;" class="text-sm hover:underline opacity-80 mb-3">Совет тренеров</a>
      <a href="javascript:;" class="text-sm hover:underline opacity-80 mb-3">Судейство</a>
      <a href="javascript:;" class="text-sm hover:underline opacity-80">Правила игры</a>
    </div>
    <div class="footer-nav ">
      <div class="font-semibold mb-3">Соревнования</div>
      <a href="javascript:;" class="text-sm hover:underline opacity-80 mb-3">Кубок “Ростсельмаш по регби”</a>
      <a href="javascript:;" class="text-sm hover:underline opacity-80 mb-3">Кубок “Ростсельмаш по регби-7”</a>
      <a href="javascript:;" class="text-sm hover:underline opacity-80">Rugby Fest</a>
    </div>
    <div class="footer-nav ">
      <div class="font-semibold mb-3">Документация</div>
      <a href="javascript:;" class="text-sm hover:underline opacity-80 mb-3">
        Условия доставки и возврата
        товара
      </a>
      <a href="javascript:;" class="text-sm hover:underline opacity-80 mb-3">
        Политика конфиденциальности
      </a>
      <a href="javascript:;" class="text-sm hover:underline opacity-80">
        Пользовательское соглашение
      </a>
    </div>
    <div class="footer-nav">
      <div class="text-body-1 font-semibold mb-3">Контакты</div>

      <div class="flex items-center mb-3">
        <c-icon class="icon mr-2" href="img/icons.svg#map"></c-icon>
        Ростов-на-дону, <br>
        ул. 1-й конной армии 4е
      </div>
      <a href="javascript:;" class="flex items-center mb-3 hover:underline">
        <c-icon class="icon mr-2" href="img/icons.svg#phone"></c-icon>
        +7(863)333-26-63

      </a>
      <a href="javascript:;" class="flex items-center hover:underline">
        <c-icon class="icon mr-2" href="img/icons.svg#mail"></c-icon>
        info@rsmliga.ru
      </a>

      <div class="footer-soc mt-10">

      </div>
    </div>
  </div>

  <div class="footer-bottom flex text-sm text-black mt-10 font-semibold">
    <div class="footer-copy">© 2021</div>
    <a href="javascript:;" class="footer-designer ml-auto hover:underline">Разработка: Студия К.И.Т.</a>
  </div>
</footer>

<%= require('./html-includes/footer.html')() %>