@import 'functions';

:root {
  // theme colors
  --primary-rgb : #{cl(#D21C4B)};
  --sec-rgb     : #{cl(#CE9B44)};
  --blue-rgb    : #{cl(#2173E5)};
  --red-rgb     : #{cl(#c0392b)};
  --green-rgb   : #{cl(#27ae60)};
  --yellow-rgb  : #{cl(#FECB29)};

  // colors
  --bg1-rgb     : #{cl(#ededed)};
  --bg2-rgb     : #{cl(#F5F7FB)};
  --bg3-rgb     : #{cl(#fff)};
  --default-rgb : #{cl(#1C1C1C)};
  --white-rgb   : #{cl(#fff)};
  --black-rgb   : #{cl(#000)};

  // variables
  --bg1    : rgb(var(--bg1-rgb));
  --bg2    : rgb(var(--bg2-rgb));
  --bg3    : rgb(var(--bg3-rgb));
  --default: rgb(var(--default-rgb));

}

body {
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
  background    : theme('colors.l2');
  font-family   : theme('fontFamily.base');
  color         : theme('colors.default');

  &.menu-opened {
    overflow: hidden;
  }
}

[data-theme="dark"] {
  --bg1-rgb     : #{cl(#181818)};
  --bg2-rgb     : #{cl(#282828)};
  --bg3-rgb     : #{cl(#323232)};
  --default-rgb : #{cl(#fff)};

}

@media (hover) {
  // temp

  .btn-white:hover,
  .btn-white:is(.btn-group:hover .btn),
  .btn-white:is(.btn-peer:hover~.btn) {
    --tw-btn-color: #fff;
  }
}

@layer components {
  .active-enabled:not(:is(:is(.toggle-active, .tab-active, .active) .active-enabled)) {
    display: none !important;
  }

  .active-disabled:is(:is(.toggle-active, .tab-active, .active) .active-disabled) {
    display: none !important;
  }

  .is-active-disabled:is(.toggle-active, .active) {
    display: none;
  }

  .is-active-enabled:not(:is(.toggle-active, .active)) {
    display: none;
  }

  .absolute-fit {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
  }

  .hover-underline {
    position: relative;

    &::before {
      content   : '';
      position  : absolute;
      top       : 100%;
      height    : 2px;
      left      : 0;
      width     : 100%;
      background: theme('colors.primary');
      transition: .25s ease;
      transform : scaleX(0);
    }

    @media(hover) {
      &:hover::before {
        transform: scaleX(1);
      }
    }
  }

  .btn {
    border-radius: 6px;
  }

  .btn-text {
    border-radius: initial;
  }

  .title {
    font-size  : 36px;
    font-weight: 700;

    @media (max-width:theme('screens.lg')) {
      font-size: 30px;
    }

    @media (max-width:theme('screens.md')) {
      font-size: 28px;
    }
  }

  .p-section {
    padding-top   : 58px;
    padding-bottom: 62px;
  }
}

.top-header {
  display       : flex;
  align-items   : center;
  gap           : 36px;
  padding-bottom: 5px;
  padding-top   : 5px;
  background    : theme('colors.l3');
  position      : relative;
  z-index       : theme('zIndex.2');

  @media (max-width:theme('screens.lg')) {
    display: none;
  }
}

.header {
  padding-top    : 12px;
  padding-bottom : 12px;
  color          : #fff;
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  position       : relative;
  transition     : .25s ease;
  z-index        : theme('zIndex.1');

  @media (max-width:theme('screens.lg')) {
    justify-content: flex-start;
    gap            : 12px;

    position: sticky;
    top     : 0;
  }

  &-sticky {
    @media (max-width:theme('screens.lg')) {
      background: theme('colors.primary');

    }
  }

  @media (max-width:theme('screens.md')) {
    padding-top   : 16px;
    padding-bottom: 16px;
  }

  &-logo {
    width    : 640px;
    height   : 90px;
    max-width: 100%;

    @media (max-width:theme('screens.lg')) {
      width : 280px;
      height: 40px;
    }
  }

  &-partner {
    background     : theme('colors.primary');
    padding        : 12px 38px;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    height         : 72px;

    @media (max-width:theme('screens.lg')) {
      display: none;
    }

    &-image {
      width : 248px;
      height: 24px;
    }
  }
}

.nav {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  height         : 54px;
  z-index        : theme('zIndex.1');
  color          : #fff;
  border-top     : 1px solid rgba(217, 217, 217, 0.2);
  border-bottom  : 1px solid rgba(217, 217, 217, 0.2);
  font-size      : 13px;
  position       : sticky;
  top            : 0;
  transition     : .25s ease;

  &-sticky {
    background: theme('colors.primary');
  }

  @media (max-width:theme('screens.lg')) {
    display: none;
  }
}

.menu {
  position      : fixed;
  z-index       : theme('zIndex.3');
  background    : theme('colors.l3');
  left          : 0;
  top           : 0;
  height        : 100%;
  overflow      : auto;
  width         : 375px;
  max-width     : 100%;
  padding       : 16px;
  display       : flex;
  flex-direction: column;
  transition    : .25s ease;

  &:not(.toggle-active) {
    transform: translateX(-100%);
  }

  &-shadow {
    position  : fixed;
    inset     : 0;
    background: rgba(0, 0, 0, 0.5);
    transition: .25s ease;
    z-index   : calc(theme('zIndex.3') - 1);
  }

  &:not(.toggle-active)~&-shadow {
    opacity       : 0;
    pointer-events: none;
  }
}

.started {
  position      : relative;
  color         : #fff;
  padding-top   : 58px;
  padding-bottom: 84px;
  height        : 732px;

  @media (max-width:theme('screens.lg')) {
    height        : 668px;
    padding-bottom: 16px;
  }


  &-image {
    position: absolute;
    inset   : 0;
    top     : calc(0px - 114px - 54px);

    @media (max-width:theme('screens.lg')) {
      top: calc(0px - 64px);

    }

    @media (max-width:theme('screens.md')) {
      top: calc(0px - 72px);
    }
  }

  &-shadow {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 10.99%, rgba(0, 0, 0, 0.7) 100%);

    @media (max-width:theme('screens.lg')) {
      background: linear-gradient(342deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 48.58%);

    }
  }

  &-inner {
    position   : relative;
    display    : flex;
    align-items: center;
    height     : 100%;

    @media (max-width:theme('screens.lg')) {
      flex-direction: column;
      align-items   : flex-start;
    }
  }

  &-content {
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;
    padding-bottom: 82px;

    @media (max-width:theme('screens.lg')) {
      padding-bottom: 0;
    }
  }

  &-title {
    font-size  : 62px;
    line-height: 1.1;
    font-weight: 600;

    @media (max-width:theme('screens.lg')) {
      font-size: 36px;
    }
  }

  &-subtitle {
    font-size: 22px;

    @media (max-width:theme('screens.lg')) {
      font-size: 18px;
    }
  }

  &-counter {
    width          : 284px;
    background     : rgba(255, 255, 255, 0.1);
    align-self     : stretch;
    margin-left    : auto;
    flex-shrink    : 0;
    backdrop-filter: blur(10px);
    padding        : 16px 38px;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    gap            : 24px;

    @media (max-width:theme('screens.lg')) {
      width                : 100%;
      display              : grid;
      grid-template-columns: 1fr 1fr;
      margin-top           : auto;
      gap                  : 20px;
    }

    @media (max-width:theme('screens.sm')) {
      padding: 32px 16px;
    }

    &-item {
      @media (max-width:theme('screens.lg')) {
        font-size: 14px;
      }
    }

    &-value {
      font-size  : 62px;
      line-height: 1.18;
      font-weight: 600;

      @media (max-width:theme('screens.lg')) {
        font-size: 32px;
      }
    }
  }
}

.live-item {
  border        : 1px solid theme('colors.default / 10%');
  box-shadow    : 0 4px 20px 0 rgba(0, 0, 0, 0.04);
  background    : url("../img/live-item-header.png") no-repeat top / contain, theme('colors.l3');
  border-radius : 12px;
  padding       : 28px 16px 20px;
  display       : flex;
  flex-direction: column;


  &-score {
    background: linear-gradient(180deg, rgba(234, 234, 234, 0.4) 0%, #EAEAEA 100%);

  }

  &-win {
    background: linear-gradient(180deg, rgba(255, 222, 172, 0.4) 0%, #FFDEAC 100%);

  }
}

.news-card {
  display       : flex;
  flex-direction: column;
  background    : theme('colors.l3');
  border-radius : 12px;

  &-img {
    position     : relative;
    max-height   : 300px;
    overflow     : hidden;
    border-radius: 12px 12px 0 0;

    &::before {
      content       : '';
      display       : block;
      width         : 100%;
      padding-bottom: calc(100% * 220 / 264);
    }

    img {
      position  : absolute;
      top       : 0;
      left      : 0;
      width     : 100%;
      height    : 100%;
      object-fit: cover;
    }
  }

  &-content {
    position : relative;
    padding  : 16px 24px 28px;
    z-index  : 2;
    flex-grow: 1;

    @media (max-width:theme('screens.md')) {
      padding-right: 15px;
      padding-left : 15px;
    }
  }

  &-tags {
    display      : flex;
    overflow     : hidden;
    margin-bottom: 8px;

  }

  &-tag {
    display      : flex;
    align-items  : center;
    flex-grow    : 1;
    height       : 24px;
    padding      : 0 8px;
    background   : theme('colors.primary / 20%');
    border-radius: 4px;
    font-size    : 12px;
    white-space  : nowrap;

    @media (max-width:theme('screens.sm')) {
      overflow: hidden;
    }

    &:last-of-type {
      overflow: hidden;


      @media (max-width:theme('screens.sm')) {
        display: none;
      }
    }

    span {
      width        : 100%;
      overflow     : hidden;
      text-overflow: ellipsis;

    }

    &+& {
      margin-left: 4px;
    }
  }

  &--popular {
    position: relative;
    overflow: hidden;
    color   : #fff;

    &::before {
      content   : '';
      position  : absolute;
      top       : 0;
      left      : 0;
      width     : 100%;
      height    : 100%;
      background: linear-gradient(180deg, rgba(83, 83, 83, 0) 0%, #1A1A1A 85.62%);
      z-index   : 1;
    }
  }

  &--popular &-img {
    position: static;

    img {
      border-radius: 12px;
    }
  }

  &--popular &-content {
    background:
      linear-gradient(180deg, rgba(205, 26, 72, 0) 12.1%, #671228 132.17%);
  }

  @media(hover) {
    &:hover &-title {
      color: theme('colors.primary');
    }
  }
}

.hero {
  display       : flex;
  padding-top   : 0;
  padding-bottom: 0;

  @media (max-width:theme('screens.md')) {
    display: block;
  }

  &-slider {
    flex-grow    : 1;
    position     : relative;
    width        : calc(100% - 264px - 16px);
    overflow     : hidden;
    border-radius: 12px;


    @media (max-width:theme('screens.lg')) {
      width: 100%;
    }

    @media (max-width:theme('screens.md')) {
      width        : calc(100% + 30px);
      margin-left  : -15px;
      border-radius: 0;
    }

    &-next,
    &-prev {
      @media (max-width:theme('screens.md')) {
        --tw-btn-size: 30px;
      }
    }

    &-control {
      display    : flex;
      align-items: center;
      position   : absolute;
      right      : 32px;
      bottom     : 32px;
      z-index    : 2;

      @media (max-width:theme('screens.md')) {
        right : 6px;
        bottom: 6px;
      }
    }
  }

  &-blocks {
    width      : 264px;
    margin-left: 16px;

    @media (max-width:theme('screens.lg')) {
      display: none;
    }
  }

  &-block {
    display      : block;
    height       : calc(436px / 2 - 8px);
    overflow     : hidden;
    border-radius: 12px;

    &+& {
      margin-top: 16px;
    }

    img {
      width     : 100%;
      height    : 100%;
      object-fit: cover;
    }
  }

  &-buner {
    display      : block;
    position     : relative;
    height       : 436px;
    background   : #eee;
    border-radius: 12px;

    @media (max-width:theme('screens.md')) {
      border-radius: 0;
    }

    &-img {
      position     : absolute;
      top          : 0;
      left         : 0;
      width        : 100%;
      height       : 100%;
      overflow     : hidden;
      border-radius: inherit;

      img {
        width     : 100%;
        height    : 100%;
        object-fit: cover;
      }
    }

    &-content {
      display        : flex;
      align-items    : flex-start;
      justify-content: flex-end;
      flex-direction : column;
      position       : relative;
      color          : #fff;

      height : 100%;
      padding: 32px;

      background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 40%);

      border-radius: inherit;
      z-index      : 1;

      @media (max-width:theme('screens.md')) {
        padding: 15px;
      }
    }


    &-title {
      transition: .3s ease .3s;
    }

    &-sign {
      transition: .3s ease .4s;
    }

    &-mark {
      color: #FC4877;
    }


    &.swiper-slide:not(.swiper-slide-visible) &-sign,
    &.swiper-slide:not(.swiper-slide-visible) &-title {
      opacity   : 0;
      transform : translateY(20px);
      transition: .3s ease;
    }

  }
}

.footer {
  margin-top    : 32px;
  padding-top   : 30px;
  padding-bottom: 8px;
  background    :
    url("../img/footer-clouds.png") no-repeat center bottom / auto,
    linear-gradient(81.82deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 23.87%),
    linear-gradient(253.45deg, rgba(105, 0, 27, 0.7) 0%, rgba(210, 28, 75, 0) 100%),
    theme('colors.primary');
  color: #fff;

  &-inner {
    display        : flex;
    align-items    : flex-start;
    justify-content: space-between;

    @media (max-width:theme('screens.md')) {
      flex-direction: column;
    }
  }

  &-soc {
    display: flex;

    &-item {
      &+& {
        margin-left: 10px;
      }
    }
  }

  &-nav {
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;

    @media (max-width:theme('screens.md')) {
      margin-top: 30px;
    }
  }
}

body.new-year-theme .footer {
  padding-top: 48px;
  background :
    url("../img/footer-clouds--newyear.svg") no-repeat center calc(100% + 52px) / auto,
    url("../img/footer-top--newyear.svg") repeat-x center top / auto,
    url("../img/footer-left--ny.svg") no-repeat calc(50% - 760px) calc(50% - 20px) / auto,
    url("../img/footer-right--ny.svg") no-repeat calc(50% + 760px) calc(50% - 20px) / auto,
    linear-gradient(81.82deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 23.87%),
    linear-gradient(253.45deg, rgba(105, 0, 27, 0.7) 0%, rgba(210, 28, 75, 0) 100%),
    theme('colors.primary');
}